<!DOCTYPE html>
<div class="center jumbotron">
    <h1>Welcome to SpencerHorn.com</h1>

    <h2>
        This is the home page for <a href="http://spencerhorn.com">Spencer Horn</a> a sample application
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>
